*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    padding-top: 20px;
    background-color: rgb(214, 200, 246);
    padding-right: 10px;
    margin-left: 170px; 
    line-height: 25px;
    text-align: left;
}

h1{
    text-align: center;
}

p{
    text-align: left;
}

h2{
    color: blueviolet;
}
/* Navigation bar fixed with a border. */
#navigation{
    /* fixed to keep in position while scrolling */
    position: fixed;
    border: 1px solid black;
    width: 160px;
    /* height is 100% to take entire side bar*/
    height: 100%;
    z-index: 1;
    /* top and left at 0. To place in the upper left hand corner */
    top: 0;
    left: 0px;
    background-color:darkgrey;
    padding-top: 20px;
    padding-left: 5px;
}



/* gives the main subject square markers */
ul{
    list-style-type: square;
    /* padding left to indent more than ol */
    padding-left: 30px;
}

/* gives the main subtopics numbers */
ol{
    list-style-type: decimal;
    padding-left: 25px;
}

table{
    border: 1px solid black;
}

td{
    border-top: 1px solid black;
}

th{
    background-color: honeydew;
}
